.productos-container {
    align-content: center;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .producto {
    align-content: center;
    text-align: center;
    width: calc(30.44% - 10px); 
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
  }
  
  .producto img {
    align-content: center;
    max-width: 50%;
    height: auto;
  }
  
  .producto button {
    background-color: #ff6600;
    color: #fff;
    border: none;
    padding: 20px 30px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .producto button:hover {
    background-color: #ff6600;
  }