.footer {
    background-color: #E57C23;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    left: 0; 
    right: 0; 
    justify-content: space-between; 
    align-items: center;
    display: flex;
  }

  
  .logo {
    max-width: 230px; /* Cambia este valor según el tamaño de tu imagen */
  }