.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Esto centra verticalmente el botón en la página */
  }
  
.button-styled {
    background-color: #025464;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  

  .button-styled:hover {
    background-color: #027296; 
  }