<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<div class="contact-info">
    <h2>Contacta con nosotros</h2>
    <p>¡Estamos aquí para ayudarte! Contáctanos a través de:</p>
    <p><strong>Teléfono:</strong> +123456789</p>
    <p><strong>Email:</strong> infoferremex.com</p>
    <div class="social-links">
        <a href="https://www.facebook.com/ferremex" target="_blank"><i class="fab fa-facebook-square"></i></a>
        <a href="https://twitter.com/ferremex" target="_blank"><i class="fab fa-twitter"></i></a>
        <a href="https://www.instagram.com/ferremex/" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="https://www.youtube.com/user/ferremex" target="_blank"><i class="fab fa-youtube"></i></a>
    </div>
</div>