<style>
  .custom-table {
    width: 80%; /* Ancho personalizado de la tabla */
    height: 200px; /* Altura personalizada de la tabla */
    align-items: center;
  }
  .custom-button {
    background-color: #025464;
    color: white; /* Color del texto */
    border-color: #025464; /* Color del borde */
    width: 300px;
  }
</style>

<table border="1" *ngIf="hayRegistros(); " class="table table-striped table-dark custom-table mx-auto">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Clave</th>
      <th scope="col">Codigo</th>
      <th scope="col">Descripción</th>
      <th scope="col">Precio por mayoreo</th>
      <th scope="col">Precio por menudeo</th>
      <th scope="col">Unidades</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let datosP of usuario">
      <td>{{datosP.clave}}</td>
      <td>{{datosP.codigo}}</td>
      <td>{{datosP.descripcion}}</td>
      <td>{{datosP.mayoreo}}</td>
      <td>{{datosP.menudeo}}</td>  
      <td>{{datosP.unidades}}</td>  
    </tr>
  </tbody>
  </table>