
<style>
  .custom-button {
    background-color: #025464;
    color: white; /* Color del texto */
    border-color: #025464; /* Color del borde */
    width: 500px;
  }
</style>

<div class="d-flex justify-content-center">
  <h1>Bienvenido</h1>
</div>
<div class="container text-center">
  <div class="row align-items-start">
    
    <div class="col">
      <button type="button" class="btn btn-primary btn-lg btn-block mb-3 custom-button"  routerLink="/regis-admin">
        <img src="assets/Imagenes/añadirAdminstrador.png"  style="width: 60px; height: 60px; margin-right: 10px;">
        Añadir administrador
      </button>

        <div class="col">
      <button type="button" class="btn btn-primary btn-lg btn-block mb-3 custom-button" routerLink="/producto">
        <img src="assets/Imagenes/productos.png"  style="width: 60px; height: 60px; margin-right: 10px;">
        Productos
      </button>
        </div>

        <div class="col">
        <button type="button" class="btn btn-primary btn-lg btn-block mb-3 custom-button" routerLink="/ventasEmpresa">
          <img src="assets/Imagenes/ventasEmpresa.png"  style="width: 60px; height: 60px; margin-right: 10px;">
          Ventas de la Empresa
        </button>
        </div>
    </div>

    <div class="col">
      <button type="button" class="btn btn-primary btn-lg btn-block mb-3 custom-button" routerLink="/regis-produc">
        <img src="assets/Imagenes/añadirProducto.png"  style="width: 60px; height: 60px; margin-right: 10px;">
        Registro de Producto
      </button>
      
      <div class="col">
      <button type="button" class="btn btn-primary btn-lg btn-block mb-3 custom-button" routerLink="/repor-acti">
        <img src="assets/Imagenes/reporteActividades.png"  style="width: 60px; height: 60px; margin-right: 10px;">
        Reporte de Actividades
      </button>
      </div>
    </div>
  </div>
</div>


