<body>
  <div>
    <p >{{datosU.nombre}}  </p>
    <form  >
      
      <h2>Inicio de sesión</h2>
     
      
      <label for="email">Correo electrónico</label>
      <input type="email" [(ngModel)]="datosU.correo" placeholder="Coloque el correo electrónico"  name="email" required>
      
      <label for="password">Contraseña</label>
      <input type="password"  [(ngModel)]="datosU.contrasena" placeholder="Coloque la Contraseña" name="contrasena" required><br><br>


      <button (click)="seleccionar(datosU.correo,datosU.contrasena)" type="submit">Continuar</button><br><br>
      <a routerLink="/agregar">Crear una cuenta nueva</a>
    </form>
  </div> 
</body>