<h1>Hola mundo</h1>

<header>
  <h1>Bienvenido a Ferremex</h1>
  <h1>Usuario {{datos.nombre}}</h1>
  <p>Tu tienda de ferretería en línea</p>
</header>
<main>
  <section>
      <h2>¡Bienvenido!</h2>
      <p>En Ferremex, nos enorgullece ofrecerte una amplia gama de productos y herramientas de ferretería para satisfacer todas tus necesidades. Ya sea que estés buscando herramientas para tu próximo proyecto de construcción, suministros para tu taller o simplemente productos para el mantenimiento del hogar, ¡estás en el lugar adecuado!</p>
      <p>Navega por nuestro catálogo en línea y descubre productos de alta calidad a precios competitivos. Además, te ofrecemos una experiencia de compra segura y conveniente, con opciones de envío rápido y atención al cliente excepcional.</p>
      <p>¡Gracias por elegir Ferremex como tu tienda de ferretería de confianza! Esperamos que tu experiencia de compra sea excelente y que encuentres todo lo que necesitas. Si tienes alguna pregunta o necesitas ayuda, no dudes en contactarnos.</p>
      <p>¡Disfruta de tu visita!</p>
      <p>Creado por Jose Luis Mellado Vela, Alejandra Itzel Lopez Medina y Armando Lara Romero </p>
  </section>
</main>
 
    
