<body>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<footer class="footer2">
  
  <img src="assets/Imagenes/FerreMex.png" alt="Logo2" class="logo2"><br>
  <div class="social-links">
    <a href="https://www.facebook.com/ferremex" target="_blank"><i class="fab fa-facebook-square"></i></a>
    <a href="https://twitter.com/ferremex" target="_blank"><i class="fab fa-twitter"></i></a>
    <a href="https://www.instagram.com/ferremex/" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://www.youtube.com/user/ferremex" target="_blank"><i class="fab fa-youtube"></i></a>
</div>

  </footer>
</body>