form {
    background-color: #fff;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
  }
  
  a {
    display: block;
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
    color: #050fa8;
  }
  
  .checkbox-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
  
  .checkbox-container input[type="checkbox"] {
    margin-right: 10px;
  }
  
  .checkbox-container label {
    font-family: Arial, sans-serif;
    font-size: 16px;
  }
  
  button[type="submit"] {
    width: 100%;
    background-color: #025464;
    color: white;
    padding: 10px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
  }
  